.contacts {
    padding-bottom: 55px;
}

.contacts__container {
    @include flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.contacts__title {
    margin-bottom: 40px;
    @media (min-width : 768px) {
        margin-bottom: 0;
    }
 
}

.contacts__img {
    width: 80%;
    height: auto;
    
    @media (min-width : 768px) {
        position: absolute;
       left: 25px;
       width: 30%;
       top: 40px;
    }
    @media (min-width : 1200px) {
        top: 0;
       
    }

}

.contacts__info {
    @include flex;
    flex-direction: column;

    @media (min-width : 768px) {
        width: calc(60% - 25px);
        align-self: flex-end;
        text-align: left;
        position: absolute;
        top: 75px;
        left:40%;
       align-items: flex-start;
    }

    @media (min-width : 1200px) {
        top: 95px;
    
    }

}

.contacts__description {
    @include text-size (12px, 21px);
    margin-top: 35px;
    margin-bottom: 30px;
    color: $secondary-color;

    @media (min-width : 575px) {
        @include text-size(16px, 24px);
        margin-bottom: 60px;
    }

    @media (min-width : 768px) {
        @include text-size (14px, 21px);
        margin-bottom: 25px;
        margin-top: 0;
    }
    @media (min-width : 993px) {
        @include text-size (16px, 24px);

    }
    @media (min-width : 1200px) {
        @include text-size (20px, 30px);
    }
}

.contacts__form {
    @include flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width : 575px) {
        flex-direction: row;
        gap: 10px;
     max-width: 450px;  
    }
}

.contacts__input {
    padding: 15px 25px;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    outline:none;
    width: 290px;

    @media (min-width : 575px) {
        width: 100%;
  
       
    }
}


.contacts__button {
    @include text-size (14px, 21px);
    font-weight: 500;
    width: 290px;
    padding: 20px 30px;
    text-transform: capitalize;

    @media (min-width : 575px) {
        padding-top: 15px;
        padding-bottom: 15px;
      
    }
}