html {
    scroll-behavior: smooth;
}

.body-page {
    font-family: $main-font;
    min-width: 320px;
    color: $default-color;

    &__no-scroll {
        overflow: hidden;
    }
}

.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.button {
    @include text-size (18px,27px);
    color: $default-color;
    background-color: transparent;
    padding: 12px 40px;
    border-radius: 5px;
    border: 2px solid $default-color;
    cursor: pointer;
}