.header-page {
    padding-top: 35px;
    position: fixed;
    width: 100%;

    &--fixed {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(4, 4, 4, 0.9);

        @media (min-width: 993px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}


.header-page__navbar {
    position: relative
}
.logo {
    @include text-size (24px, 26px);
    color: $default-color;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;

    &__gray {
        color: $secondary-color;
    }
}


.burger-icon {
    position: absolute;
    width: 30px;
    height: 19px;
    right: 0;
    top: 2px;
    cursor: pointer;
    z-index: 3;

    @media (min-width: 993px) {
        display: none;
    }
}

.burger-icon__line {
    background-color: #39515E;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: 0.2s linear;
    @include rounding;

    &:nth-of-type(1) {
        top: calc(50% - 7px);
 
    }
    &:nth-of-type(3) {
        top: calc(50% + 7px);
        width: 60%;
        left: 9px;
    }
}

.burger-icon__line--active {

    &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(1) {
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
        width: 100%;
        left: 14px;
      }
}

.header-page__menu {
    @include list-reset;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    top: -100%;

    
    &--active {
        @include flex(flex-start);
        flex-direction: column;
        gap: 20px;
        transition: .3s linear;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      padding-left: 50px;
        background-color: rgba(143, 149, 165, 0.9);
        min-width: 320px;
        @include text-size (26px, 48px);
    }
}

.header-page__menu--link {
    @include text-size (16px, 24px);
    color: $default-color;
    text-transform: capitalize;
    font-weight: 500;

    &:hover {
        border-bottom: 2px solid #000;
    }
}